
    .form-select:focus {
      outline: 0px !important;
      -webkit-appearance: none;
      box-shadow: none !important;
      border: none;
    }
  
    .imgs {
      max-width: 80px;
    }
  .city-drop {
    position: relative;
  }
    label {
      font-size: 28px;
      font-weight: bold;
    }
  
    .date p {
      margin-bottom: 0rem;
    }
  
    .city-drop i {
      position: absolute;
      right: 15px;
      top: 18px;
      z-index: 99;
    }
  
    .dropdown {
      background: #dfd8d8;
      border-radius: 0;
      font-size: 28px;
      font-weight: normal;
    }
  
    .title-text h3 {
      font-size: 32px;
      font-weight: bold;
    }
  
    .btns {
      border-radius: 0px;
      background: #d10b0b;
      color: white;
      border: none;
      padding: 10px 50px;
    }
  
    .date {
      font-size: 18px;
      font-weight: bold;
      padding-left: 8px
    }
  
    .temperature {
      font-size: 18px;
      font-weight: normal;
    }
  
    .btn-close {
      opacity: 5;
    }
  
    .container {
      border: 7px solid #212529;
      max-width: 650px;
      margin: auto;
      background: white;
      margin-top: 80px;
    }
  
    @media(max-width:686px) {
  
      .city-drop i {
        top: 13px;
      }
      .form-select {
        font-size: 22px;
        width: 100%;
      }
      .btns {
        margin-left: 20px;
      }
    }
  